<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Tweets</title>
  </head>
  <body>
    <h1>Welcome, <%= @user.username %></h1>

      <li>Content:<%= @tweet.content %></li>

      <% @tweet.genres.each do |genre| %>
    <li>Genre of Tweet:<%= genre.name %></li>
      <% end %>

      <br>
      <form action="/tweets/<%= @tweet.id %>/edit" method="post">
        <input type="hidden" name="_method" value="patch" id="hidden">
        <input type="submit" value="Edit Tweet">
      </form><br>
      <form action="/tweets/<%= @tweet.id %>/delete" method="post">
        <input type="hidden" name="_method" value="patch" id="hidden">
        <input type="submit" value="Delete Tweet">
      </form><br>
      <a href="/tweets">Fwitter Home</a>
  </body>
</html>